<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>会社情報編集</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
         <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">
									 <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>  
                                     <li class="breadcrumb-item"><a th:href="@{/admin/company/CompanyPage}">会社情報</a></li>                                                           
                                     <li class="breadcrumb-item active" aria-current="page">会社情報編集</li>
                                 </ol>
                             </nav>
                             
                             <h1 class="mb-4 text-center">会社情報編集</h1>
                             
                             <form th:action="@{/companyedit}" method="post">

                             <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="companyName" class="col-form-label text-md-left fw-bold">会社名</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('companyName')}" class="text-danger small mb-2" th:errors="*{companyName}"></div>
                                             <input type="text" id="companyName" name="companyName" class="form-control" th:value="${companyEditForm.companyName}" required>
                                     </div>
                                     
                             <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="location" class="col-form-label text-md-left fw-bold">所在地</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('location')}" class="text-danger small mb-2" th:errors="*{location}"></div>
                                     </div>
                                     
                             <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="representativeName" class="col-form-label text-md-left fw-bold">代表者名</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('representativeName')}" class="text-danger small mb-2" th:errors="*{representativeName}"></div>
                                     </div>         
                              
                             <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="establishmentDate" class="col-form-label text-md-left fw-bold">設立日</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('establishmentDate')}" class="text-danger small mb-2" th:errors="*{establishmentDate}"></div>
                                     </div>
                                     
                             <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="capital" class="col-form-label text-md-left fw-bold">資本金</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('capital')}" class="text-danger small mb-2" th:errors="*{capital}"></div>
                                     </div>
                                     
                             <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="businessContent" class="col-form-label text-md-left fw-bold">事業内容</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('businessContent')}" class="text-danger small mb-2" th:errors="*{businessContent}"></div>
                                     </div>
                                     
                                     <div class="form-group d-flex justify-content-center my-4">
                                     <button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
                                 </div>
                             </form>                                                                         
                         </div>
                     </div>
                 </div>                 
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         <script th:src="@{/js/preview.js}"></script>     
     </body>
 </html>
